@import "../../variables.css";

* {
  transition: all 0.2s ease-in-out;
}

.activity-container {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeInUp 0.6s ease;
}

.activity-code {
  font-size: 2rem;
  margin-bottom: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.feedback-grid {
  display: grid;
  grid-template-columns: repeat(2, 25vw);
  gap: 2.5rem;
  justify-content: center;
  margin: 2rem 0;
  width: 70vw;
  height: auto;
}

.feedback-button {
  font-size: 7rem;
  background-color: var(--light-indigo);
  cursor: pointer;
  border-radius: 1.7rem;
  border: none;
  transition: all 0.2s ease-in-out;
}

.feedback-button:hover {
  transform: translateY(-5px) scale(1.05);
}

.feedback-button:active {
  transform: translateY(0) scale(0.95);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.feedback-button.disabled {
  cursor: not-allowed;
}

.activity-list-title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0;
}

#end-activity-toast {
  background-color: var(--red);
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

/* efect fade-in */
@keyframes fadeInItem {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.list-item {
  background-color: var(--light-indigo);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  width: 30vw;
  animation: fadeInItem 0.4s ease;
}

.back-button {
  margin-top: 1rem;
  background-color: var(--light-indigo);
  color: var(--white);
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bolder;
  font-size: large;
  transition: 0.3s ease;
  margin-bottom: 5vh;
}
.back-button:hover {
  background-color: var(--white);
  color: var(--dark-indigo);
}

.time-remaining {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--light-indigo);
}

.code-input-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.input-filed {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: var(--light-indigo);
}

.input-filed:focus {
  outline: 2px solid var(--light-indigo);
}

.enter-button {
  margin-top: 1rem;
  background-color: var(--light-indigo);
  color: var(--white);
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bolder;
  font-size: large;
  transition: 0.3s ease;
}

.enter-button:hover {
  background-color: var(--white);
  color: var(--dark-indigo);
}

@media (max-width: 768px) {
  .feedback-grid {
    grid-template-columns: repeat(2, 40vw);
  }

  .feedback-button {
    font-size: 5rem;
  }

  .activity-list-title {
    font-size: 1.5rem;
  }

  .list-item {
    font-size: 1rem;
  }

  .back-button {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }

  .time-remaining {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .feedback-grid {
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    gap: 1rem;
  }

  .feedback-button {
    font-size: 3.5rem;
    border-radius: 1rem;
  }

  .activity-list-title {
    margin-top: 0;
    font-size: 1rem;
  }

  .list-item {
    font-size: 0.9rem;
  }

  .back-button {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
  }

  .time-remaining {
    font-size: 0.9rem;
  }
}
